/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&family=Quicksand&family=Roboto:wght@300&display=swap');

/* Variable CSS */

/* === Colors === */
:root {
    --white-color: #f4f4f4;
    --yellow-color: #f7f70c;
    --basic-color: #2e2e2e;
    --grey-color: #3b3b3b;
    --icon-active: #f7f7f7;
    --icon: #969696;
}

/* === Body Font === */
:root {
    --body-font: 'Quicksand',
        sans-serif;
    --alternative-font: 'Roboto',
        sans-serif;
    --header-font: 'Montserrat',
        sans-serif;
    --small-font: 14px;
}

@media screen and (min-width: 768px) {
    :root {
        --small-font: 16px;
    }
}

/* === z-index === */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* === BASE === */

/* === Body === */
body {
    font-family: var(--body-font);
}

/* === Navbar === */
.navbar {
    padding: 0.8rem 0;
    background-color: var(--basic-color);
    width: 100%;
    height: 3.4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-normal) !important;
}

.navbar-content {
    position: relative;
}

#menu-toggle {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-left: 1rem;
    cursor: pointer;
}

.nav-title {
    font-size: 1.8rem;
    font-family: var(--header-font);
    color: var(--white-color);
    margin-top: -34px;
    text-align: center !important;
}

/* === Sidebar === */
.sidebar {
    padding: 0.8rem 0;
    background-color: var(--basic-color);
    width: 12rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: -12rem;
    z-index: var(--z-tooltip) !important;
    transition: 0.4s;
    overflow-x: hidden;
}

.top-sidebar {
    border-bottom: 3px solid var(--grey-color);
}

#x-toggle {
    color: var(--white-color);
    font-size: 2rem;
    margin-left: 1.8rem;
    cursor: pointer;
}

.sidebar-title {
    font-size: 1.2rem;
    font-family: var(--body-font);
    font-weight: 600;
    color: var(--white-color);
    margin-top: 1px;
    margin-left: 0.6rem;
    margin-bottom: 14px;
}

.show {
    left: 0;
}